/* Header */
.cart_list.active .list_cart_header {
  display: block;
}
.list_cart_header {
  position: absolute;
  display: none;
  right: 0;
  width: 260px;
  padding: 10px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.list_header_empty {
  line-height: 1;
  text-align: center;
  padding: 10px 30px;
  font-family: Montserrat;
}
.list_header_empty i {
  margin-bottom: 12px;
  font-size: 23px;
  color: #631c50;
}
.list_header_empty span {
  color: black;
}
.randpaosdlaksdñlkasd {
  color: #ffffff;
}

.list_cart_header li {
  display: flex;
}
.list_header_thumb {
  width: 40%;
  text-align: center;
}
.list_header_thumb img {
  width: 100%;
}
.list_header_inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  line-height: 1.2;
}

/* Pagina interna */

.add_actions {
  display: flex;
}
.add_action_cart {
  margin-right: 3%;
  width: 20%;
}
